---
import Layout from "../../layouts/Layout.astro";
import { Home, Skills, Projects, Contact } from "../../components";
import { getI18n } from "../../i18n/ui";

const locale = "en" as const;
const t = getI18n(locale);
---

<Layout
  title={t.meta.title}
  locale={locale}
  description={t.meta.description}
  keywords={t.meta.keywords}
  ogTitle={t.meta.ogTitle}
  ogDescription={t.meta.ogDescription}
>
  <Home locale={locale} />

  <main class="container">
    <Projects locale={locale} />
    <Skills locale={locale} />
    <Contact locale={locale} />
  </main>
</Layout>
