---
import { Header, Footer } from "../components";
import type { Locale } from "../i18n/ui";

import "../styles/globals.scss";

export interface Props {
  title: string;
  locale: Locale;
  description: string;
  keywords: string;
  ogTitle: string;
  ogDescription: string;
}

const { title, locale, description, keywords, ogTitle, ogDescription } = Astro.props;
---

<!DOCTYPE html>
<html lang={locale}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords} />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:title" content={ogTitle}>
    <meta property="og:type" content="website" />
    <meta property="og:description" content={ogDescription}>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header locale={locale} />
    <slot />
    <Footer locale={locale} />
  </body>
</html>
